<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group List</title>
</head>
<body>
<h1>Employee List</h1>
<h2><a href="/create-groupEmployee">Create Group Employee</a></h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Phone Number</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="groupEmployee : ${groupEmployees}">
        <tr>
            <td th:text="${groupEmployee.name}"></td>
            <td th:text="${groupEmployee.desc}"></td>
            <td><a th:href="@{edit-groupEmployee/__${groupEmployee.id}__}">Edit</a></td>
            <td><a th:href="@{delete-employee/__${groupEmployee.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>