<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${message}">
    <h1 th:text = "${message}"></h1>
</th:block>
<a href="/list">Back to list</a>
<form th:action="@{/edit-employee}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><input type="text" th:field="*{sex}"></td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>